* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:200px;
  margin: 50px auto;
  border: none;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Verdana, Geneva, sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  border: none;
}
